fastapi
uvicorn[standard]
deepface
opencv-python
numpy
tf-keras
openai-whisper
python-multipart
ffmpeg
chromadb
langchain
openai
python-dotenv
langchain-community
langchain_openai
pydantic
black
flake8
isort